.jobCard{
    width: 90%;
    border: 15px;
    background-color: rgb(37, 36, 36);
    list-style: none;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}
.my-const{
    display: flex;
}
.card-company-logo{    
    height: 75px;
    width: 75px;
}
.compName-rating-cont{
    margin-left: 15px;
}
.ratingLogo{
    color: gold;
    margin-bottom: 2px;
}
.location-empType-package-cont{
    display: flex;
    justify-content:space-between;
}
.hr{
    margin-top: -2px;
    color: white;
}
.icons{
    color: white;
    height: 30px;
}